/* This file is for your main application css. */
@import "bootstrap";

.tile {
  width: 12.5%;
  height: 5.65vw;
  border-style: solid;
  border-width: 3px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  //background-color: grey;
}

.tile-panel {
  background-image: url("../../images/zelda.jpg");
  padding: 0;
}

.scores {
  background-image: url("../../images/board.jpg");
  padding: 0;
}

.row {
  margin:0px;
}

.blackOpaqueClass:hover {
  background-image: url("../../images/black2.jpg");
}

.whiteOpaqueClass:hover {
  background-image: url("../../images/white2.jpg");
}

.container-container {
  margin-left: 0;
  padding: -1px;
}
body {

}
