<script>
 window.play_cfg = {
   user: "<%= escape_javascript @user %>",
   game: "<%= escape_javascript @game %>",
   host: <%= @host %>,
   <%= if @host do %>
    word: "<%= escape_javascript @word %>",
   <% else %>
    word: "",
   <% end %>
 };
</script>
<div>awiblregluihae</div>
